	html, body{
		background-color: lightgray;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin: 0;
		padding: 0;
	}   

	.container {
		margin: 0 auto;
		background-color: #ffffff;
		width: 900px;
		padding: 10px 0 0 30px;
		margin-top: 10px;
		box-shadow: 0px 0px 20px 3px #d3d3d3;
		border-radius: 10px;  
	}


	h1 {
		text-decoration: underline;
		text-transform: uppercase;
		letter-spacing: 0.5em;
		text-align: center;
		color: #000099;
	}


	h2 {
		color: #adb2a2;
		font-size: 16px;
		text-decoration: underline;
	}

	h3 {
		color: #adb2a2;
		font-size: 14px;
		font-style: italic;
	}

	.navList {
		list-style-type: none; <!--take bullets out-->
		<!--to remove indentation-->
		margin: 0;
		padding: 0; 
	}

	.navList li {
		display: inline;
		margin-left: 7px;
	}

		.navList a:link, 
		.navList a:visited {
		color: rgb(88, 89, 81);
		text-decoration: none;
		text-transform: uppercase;
		font: 1.25em Gill;
		font-weight: bold;
		padding: 5px 10px 0 10px;
	}

	.navList a:hover {
		color: blue;
	}


	.loginMenu {
		list-style-type: none; <!--take bullets out-->
		<!--to remove indentation-->
		margin: 0;
		padding: 0; 
	}

	.loginMenu li {
		display: inline;
		margin-left: 7px;
	}

	.loginMenu a:link, 
	.loginMenu a:visited {
		color: rgb(88, 89, 81);
		text-decoration: none;
		text-transform: uppercase;
		font: 1.25em Gill;
		font-weight: bold;
	}

	.loginMenu a:hover, 
	.loginMenu a:focus {
		color: blue;
		text-decoration: underline;
	}


	.bottomBox{
		width: 800px;
		height: 220px;
		font: 1.6em Gill;
		background: #000000;
		color: #ffffff;
	}
	
	
	.textBox, .verticalList {
		list-style-type: none;
		padding: 10px 0 0 30px;
		font: 1em Gill;
		color: #ffffff;
		text-decoration: none;
		text-transform: normal;
	}
	
	.verticalList a:link,
	.verticalList a:visited{
		text-decoration: none;
		color: #ffffff;
	}

	.verticalList a:hover,
	.verticalList a:focus{
		text-decoration: underline;
		color: #ffffff;
	}

.titleSlide {
    font-size: 4.2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;  /* font should be #ffffff */
    
}

.subTitleSlide {
    font-size: 1.6em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;  /* font shoul be #ffffff */
}

.titleSection {
    font-size: 4.2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;  /* font shoul be #ffffff */
    text-transform: uppercase;
}

.subTitleSection{
    font-size:3.4em;
    color: #000000;  /* font shoul be #ffffff */
}

.btnBlue {
    width: 177px;
    height: 34px;
    border-radius: 5px;
    background: rgba(33, 144, 199, 0.8);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.orangeBox {
    width: 290px;
    height: 175px;
    border-radius: 6px;
    background-color: rgba(255, 102, 0, 0.9);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 2px 0 0 15px; 
}

.imgBox {
  padding-top:70px;
}

.transparentBox{
    width: 300px;
    height: 120px;
    background-color: rgba(256, 256, 256, 0.4);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.blueBox{
    width: 69px;
    height: 99px;
    color: #ffffff;
    background-color: #3399CC;
    float:left;
    margin: 10px 0 0 10px;
}

.date{
    height: 66px;
    font-size: 30px;
    border-bottom: 3px dotted white;
    text-align: center;
    line-height: 60px;
}

.month{
    height: 33px;
    color: #ffffff;
    background-color: #3399CC;
    font-size: 12px;
    text-align: center;
    line-height: 35px;
}

.insideBox{
  width:200px;
  height:40px;
  color:#000000;
  font-size:20px;
  float: left;
  text-align: left;
  padding-left:10px;
}